.main-header__container{
    left: 0;
    right: unset;
    width: 19vw;
    height: 100vh;
    margin: 0;
    padding: 0.8rem;
    border-radius: 0;
    transition: none;
}

.icon__menu-container{
    visibility: collapse;
}

.header-nav__container{
    width: initial;
    height: initial;
    overflow: initial;
    visibility: visible;
}

.header__user--photo{
    width: 150px;
    height: 150px;
}

.header__user--name{
    font-size: 2.2rem;
}

.nav{
    max-width: 154px;
    height: initial;
}

.nav ul li{
    width: 17vw;
    cursor: pointer;
    
}

.nav ul li button{
    font-size: 2.5rem;
    cursor: pointer;
}

.main-container{
    margin-left: 19vw;
}

.main-start__container{
    margin-left: 0.5vw;
    background-image: url('https://res.cloudinary.com/dasfkbu3k/image/upload/v1636251615/Portfolio/pexels-kevin-ku-577585-high_pia3m3.jpg');
    
}
