.main-header__container{
    left: 0;
    right: unset;
    width: 16vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border-radius: 0;
    transition: none;
}

.icon__menu-container{
    visibility: collapse;
}

.start__user--info{
    font-size: 2.5rem;
}

.header-nav__container{
    width: initial;
    height: initial;
    overflow: initial;
    visibility: visible;
    padding: 12px 0 0 0;
}

.header-temeSelector__container{
    right: 12px;
    padding: 8px;
    visibility: visible;
}

.button__temeSelector{
    left: inherit;
    right: 0;
    padding: 8px;
    background-color: var(--main-color);
    border-radius: 50%;
    transition: background-color 1s;
}

.button__temeSelector.button__temeSelector-active{
    background-color: transparent;
    z-index: 2;
    transition: background-color 1s;
}

.temes-container{
    background-color: #00000061;
}

.temes-container-active{
    background-color: #00000061;
    width: 300px;
    height: 200px;
    border: 4px solid var(--main-color);
    backdrop-filter: blur(2px);
}

.header__user--photo{
    width: 150px;
    height: 150px;
}

.header__user--name{
    font-size: 2.2rem;
}

.nav{
    max-width: 154px;
    height: initial;
}

.nav ul li{
    width: 17vw;
    cursor: pointer;
    
}

.nav ul li b:nth-child(1){
    width: 81%;
}

.nav ul li b:nth-child(2){
    width: 81%;
}


.nav ul li button{
    font-size: 2.5rem;
    cursor: pointer;
}


.main-container{
    margin-left: 16%;
    width: 84%;
}

section.main-start__container{
    margin-left: 0.5vw;
    background-image: url('https://res.cloudinary.com/dasfkbu3k/image/upload/v1636251615/Portfolio/pexels-kevin-ku-577585-high_pia3m3.jpg');
    
}

.main-portfolio__container .portfolio__proyects--container{
    position: relative;
    width: 83vw;
    overflow: hidden;
}

.button__carrousel{
    display: flex;
    width: auto;
    height: auto;
    top: 50%;
    z-index: 2;
    font-size: 5rem;
    color: white;
    background-color: transparent;
    border: none;
}

.button__carrousel--right{
    right: 5px;
}

.button__carrousel--left{
    left: 5px;
    transform: rotate(180deg);
}

.portfolio__proyects--carrousel{
    transition: transform 1s;
    
}

.carrousel-fixer{
    width: 83vw;
    display: flex;
}