* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    
    font-size: 1.6rem;
    font-family: 'Dm Sans',Helvetica, sans-serif;
}

.main-header__container{
    position: fixed;
    height: 0;
    right: 0;
    display: flex;
    z-index: 5;
    overflow: hidden;
    margin: 0.8rem;
    padding: 2rem;
    flex-direction: column;
    border-radius: 50%;
    background-color: var(--main-color);
    transition: width 0.5s, height 0.35s, border-radius 0.5s, border-top-right-radius 0.9s, margin 0.5s;
    
}

.main-header__container--visible{
    height: 100vh;
    overflow: hidden scroll;
    margin: 0;
    border-radius: 0;
    padding: 0;
    transition: height 0.35s, border-radius 0.5s, border-top-right-radius 0.2s, margin 0.5s;
}

.icon__menu-container{
    position: absolute;
    right: 2px;
    top: 1px;
    background: none;
    border: none;
    display: flex ;
    margin: 0.6rem;
    z-index: 2;
}
.icon__menu-toggle{
    color: white;
    display: contents;
}

.icon__menu-toggle ion-icon{
    font-size: 2.5rem;
}

.header-nav__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    height: 0;
    min-height: 0;
    overflow: hidden;
    visibility: collapse;
    transition: width 0.5s, height 0.35s, min-height 0.35s;
}

.header-nav__container--visible{
    width: 100vw;
    height: unset;
    min-height: 640px;
    padding: 12px;
    visibility: visible;
}

.header-temeSelector__container{
    visibility: hidden;
    width: auto;
    height: auto;
    position: fixed;
    padding: 8px;
    
}

.button__temeSelector{
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
}

.button__temeSelector.button__temeSelector-active{
    color: var(--main-color);
    margin: 12px;
}

.temes-container{
    display: flex;
    width: 0;
    height: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    transition: width 1s, height 1s;
    border-radius: 24px;
}

.temes-container-active{
    transition: width 1s, height 1s;
    width: 95.5vw;
    height: 300px;
}

.show-teme-container{
    visibility: visible;
    transition: visibility 1s;
}

.header-temeSelector__container button{
    font-size: 3rem;
    color: white;
    background: none;
    border: none;
}

.item-teme{
    margin: 8px;
}

.item-teme button{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: red;
}

.header__user--photo{
    display: inline-block;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid #666;
    box-sizing: content-box;
    background-image: url('https://res.cloudinary.com/dasfkbu3k/image/upload/v1636252049/Portfolio/foto_kglkyx.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__user--name{
    margin: 14px;
    font-size: 3rem;
    color: white;
}

.header__social--icons{
    display: flex;
    justify-content: center;
    margin: 10px 0 ;
    font-size: 3.3rem;
    list-style: none;
}

.header__social--icons li{
    margin: 0px 10px;
}

.header__social--icons li a{
    color: white;
}

.form__social--icons{
    font-size: 3.3rem;
}

.form__social--icons li a{
    color: var(--main-color);
}

/* .nav{
    
    position: initial;
    top: 20%;
    left: 32%;
} */

.nav-active{
    max-width: 154px;
}

.nav ul{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    height: 100%;
}
.nav ul li{
    position: relative;
    padding: 5px;
    margin: 5px 0;
    width: 75vw;
    list-style: none;
    letter-spacing: 5px;
}



.nav ul li.list-active{
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.nav ul li b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
}

.nav ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 96.9%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: var(--main-color);
}

.nav ul li.list-active b:nth-child(1){
    display: block;
}

.nav ul li b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
}

.nav ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 96.9%;
    height: 100%;
    border-top-right-radius: 20px;
    background: var(--main-color);
}

@media (min-width: 347px) {
    .nav ul li b:nth-child(1){
        width: 97.7%;
    }

    .nav ul li b:nth-child(2){
        width: 97.7%;
    }
}

@media (min-width: 375px) {
    .nav ul li b:nth-child(1){
        width: 95.7%;
    }

    .nav ul li b:nth-child(2){
        width: 95.7%;
    }
}

@media (min-width: 400px) {
    .nav ul li b:nth-child(1){
        width: 93.8%;
    }

    .nav ul li b:nth-child(2){
        width: 93.8%;
    }
}

@media (min-width: 430px) {
    .nav ul li b:nth-child(1){
        width: 92.2%;
    }

    .nav ul li b:nth-child(2){
        width: 92.2%;
    }
}

@media (min-width: 460px) {
    .nav ul li b:nth-child(1){
        width: 90.4%;
    }

    .nav ul li b:nth-child(2){
        width: 90.4%;
    }
}

@media (min-width: 490px) {
    .nav ul li b:nth-child(1){
        width: 89%;
    }

    .nav ul li b:nth-child(2){
        width: 89%;
    }
}

@media (min-width: 520px) {
    .nav ul li b:nth-child(1){
        width: 87.8%;
    }

    .nav ul li b:nth-child(2){
        width: 87.8%;
    }
}

@media (min-width: 550px) {
    .nav ul li b:nth-child(1){
        width: 86.7%;
    }

    .nav ul li b:nth-child(2){
        width: 86.7%;
    }
}

@media (min-width: 580px) {
    .nav ul li b:nth-child(1){
        width: 85.8%;
    }

    .nav ul li b:nth-child(2){
        width: 85.8%;
    }
}

.nav ul li.list-active b:nth-child(2){
    display: block;
}

.nav ul li button{
    font-size: 3rem;
    text-decoration: none;
    color: white;
    background: none;
    border: none;
}

/* .nav ul li button span{
    
} */

.nav ul li.list-active button{
    color: var(--main-color);
}

.header__user--CV{
    margin-top: 16px;
    padding: 8px;
    border-radius: 8px;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    border: none;
    background-color: #29B340;
    box-shadow: 0px 2px 4px #0d3413;
}

.header__user--CV:active{
    animation: push-button-cv 0.05s linear;
}

@keyframes push-button-cv {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.95);
    }
}

.pdf-main__container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    
}

.pdf-main__container.pdf-active{
    visibility: visible;
}

.pdf__container{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.pdf__container button{
    position: absolute;
    top: 5px;
    right: 25px;
    background-color: transparent;
    border: none;
    font-size: 4rem;
    color: var(--main-color);
}


.icon{
    position: relative;
    top: 2px;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    
}

.scrollbar-customized::-webkit-scrollbar{
    width: 16px;
}

.scrollbar-customized::-webkit-scrollbar-thumb{
    border-radius: 25px;
    border: 4px transparent solid;
    background-clip: content-box;
    background-color: var(--main-color);
}

.scrollbar-customized::-webkit-scrollbar-track{
    background-color: #fff;
}

.scrollbar-customized::-webkit-scrollbar-button{
    border-style: solid;
    height: 10px;
    width: 10px;
}

.scrollbar-customized::-webkit-scrollbar-button:vertical:decrement{
    border-width: 0 7px 14px 7px;
    border-color: transparent transparent var(--main-color) transparent;
}

.scrollbar-customized::-webkit-scrollbar-button:vertical:increment{
    border-width: 14px 7px 0 7px;
    border-color: var(--main-color) transparent transparent transparent;
}


.scrollbar-customized::-webkit-scrollbar-button:horizontal:decrement{
    border-width: 7px 14px 7px 0px;
    border-color: transparent var(--main-color) transparent transparent;
}

.scrollbar-customized::-webkit-scrollbar-button:horizontal:increment{
    border-width: 7px 0px 7px 14px;
    border-color: transparent transparent transparent var(--main-color);
}

section.main-start__container{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    background-image: url('https://res.cloudinary.com/dasfkbu3k/image/upload/v1636251614/Portfolio/pexels-kevin-ku-577585-small_ueivm2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.start__container{
    display: flex;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(1px);
}

.start__user--info{
    color: white;
    margin: auto;
    padding: 10px;
    font-size: 1.7rem;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff3d;
    backdrop-filter: blur(5px);
    animation: start-animation-user-name 2s ease, user-mame-float 2s 2s infinite ease-in-out alternate-reverse;
}

@keyframes start-animation-user-name {
    from{
        transform: translate(0px, 51vh);
    }
    to{
        transform: translate(0px, 0px);
    }
}

@keyframes  user-mame-float {
    from{
        transform: translate(0px, -50px);
    }
    to{
        transform: translate(0px, 0px);
    }
}

.spark-spam__container{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 5px;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: transparent;
}


section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px 0px;
}

.section__title{
    display: flex;
    align-self: start;
    align-items: center;
    font-size: 2rem;
    color: var(--main-color-down2);
}

.icon__arrow--right{
    color: var(--main-color);
}


.about__biography--list{
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
}

.about__biography--list li{
    display: inline-block;
    
}

.main-about__technology--container{
    width: 100%;
    overflow-x: scroll;
}

.about__technology--container{
    display: flex;
    width: max-content;
    padding-bottom: 10px;
}

.about__technology--title{
    text-align: center;
    margin-bottom: -20px;
    color: var(--main-color-down);
    border-bottom: 2px solid var(--main-color-down2);
}

.about__technology--container .about__technology--item{
    display: flex;
    width: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px #555;
    margin: 8px 16px;
    padding: 8px;
    border-radius: 8px;
}

.about__technology--container .about__technology--item figure{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about__technology--container .about__technology--item figure img{
    width: 75px;
    height: 75px;
}

.about__technology--container .about__technology--item figure .npm-logo{
    height: 50px;
}
.about__technology--container .about__technology--item figure figcaption{
    text-align: center;
}

.main-portfolio__container{
    justify-content: space-between;
    padding-bottom: 0;
}

.section__title--portfolio{
    margin-top: 12px;    
}

.main-portfolio__container .portfolio__proyects--container{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    overflow: scroll hidden;
    width: 100vw;
    /* padding: 0px 0px 20px 0px; */
    background: linear-gradient(0deg, var(--main-color-down), var(--main-color-down2));
}

.portfolio__proyects--carrousel{
    display: flex;
    width: 200vw;
    margin: 15px 0;
}

.button__carrousel{
    position: absolute;
    width: 0;
    height: 0;
    z-index: -10;
}

.carrousel-fixer{
    position: relative;
    width: 100vw;
    display: flex;
}

.portfolio__proyects--item{
    position: relative;
    width: 100%;
    height: 65vh;
    max-width: 600px;
    margin: 16px;
}

.proyect-info--container{
    display: flex;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 0px;
    height: 0px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.493);
    backdrop-filter: blur(3px);
    white-space: nowrap;
    overflow: hidden;
    transition: all 1s, border-bottom-right-radius 1.5s ;
}

.proyect-info--container p{
    color: white;
    margin: 16px;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    white-space: normal;
    background-color: rgba(0, 0, 0, 0.6);
}

.button__proyect-info{
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 2;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    color: white;
}


.button__proyect-info:hover, .button__proyect-info:active{
    color: var(--main-color);
}

.proyect__image{
    display: inline-block;
    width: 100%;
    height: 85%;
    border: 4px solid #666;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.proyect__links--container{
    display: flex;
    justify-content: space-around;
    
}

.proyect__links--container a{
    text-decoration: none;
    font-size: 1.8rem;
    border: 2px solid white;
    padding: 10px;
    border-radius: 8px;
    color: white;
}

.proyect__image--batatabit{
    background-image: url('https://res.cloudinary.com/dasfkbu3k/image/upload/v1636495305/Portfolio/batatabit_zyvnxv.jpg');
    
}

.main-contact__container{
    height: 100vh;
}

.user__social--container .form__social--icons{
    display: flex;
}

.user__social--container .form__social--icons li{
    list-style: none;
    margin: 5px 10px;
}

.form__container{
    border-radius: 4px;
    background: linear-gradient(0deg, var(--main-color-down), var(--main-color-down2));
}

.form__container .contact-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}

.contact-form__first-container{
    display: flex;
    
}

.contact-form__first-container input{
    width: 100px;
    margin: 10px;
    text-align: center;
    border-radius: 4px;
    border: none;
}

.form__container .contact-form #contact-form-message{
    border-radius: 4px;
}

.form__container .contact-form .contact-form-submit{
    width: 50px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 3px 1px black;
}

footer{
    width: 100vw;
    height: 8vh;
    background-color: red;
}