* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    
    font-size: 1.6rem;
    font-family: 'Dm Sans',Helvetica, sans-serif;
}

.main-header__container{
    position: fixed;
    height: 0;
    right: 0;
    display: flex;
    z-index: 5;
    overflow: hidden;
    margin: 0.8rem;
    padding: 2rem;
    flex-direction: column;
    border-radius: 50%;
    background-color: var(--main-color);
    
    transition: width 0.5s, height 0.35s, border-radius 0.5s, border-top-right-radius 0.9s, margin 0.5s;
    
}

.main-header__container--visible{
    height: 100vh;
    overflow: hidden scroll;
    margin: 0;
    border-radius: 0;
    padding: 0;
    transition: height 0.35s, border-radius 0.5s, border-top-right-radius 0.2s, margin 0.5s;
}

.icon__menu-container{
    position: absolute;
    right: 2px;
    top: 1px;
    background: none;
    border: none;
    display: flex ;
    margin: 0.6rem;
    z-index: 2;
}
.icon__menu-toggle{
    color: white;
    display: contents;
}

.icon__menu-toggle ion-icon{
    font-size: 2.5rem;
}

.header-nav__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    height: 0;
    min-height: 0;
    overflow: hidden;
    visibility: collapse;
    transition: width 0.5s, height 0.35s, min-height 0.35s;
}

.header-nav__container--visible{
    width: 100vw;
    height: unset;
    min-height: 640px;
    padding: 12px;
    visibility: visible;
}

.header__user--photo{
    display: inline-block;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid #666;
    box-sizing: content-box;
    background-image: url('https://res.cloudinary.com/dasfkbu3k/image/upload/v1636252049/Portfolio/foto_kglkyx.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__user--name{
    margin: 14px;
    font-size: 3rem;
    color: white;
}

.header__social--icons{
    display: flex;
    justify-content: center;
    margin: 10px 0 ;
    font-size: 3.3rem;
    list-style: none;
}

.header__social--icons li{
    margin: 0px 10px;
}

.header__social--icons li a{
    color: white;
}

/* .nav{
    
    position: initial;
    top: 20%;
    left: 32%;
} */

.nav-active{
    max-width: 154px;
}

.nav ul{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    height: 100%;
}
.nav ul li{
    padding: 5px;
    margin: 5px 0;
    width: 75vw;
    list-style: none;
    letter-spacing: 5px;
}

.nav ul li.list-active{
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.nav ul li button{
    font-size: 3rem;
    text-decoration: none;
    color: white;
    background: none;
    border: none;
}

/* .nav ul li button span{
    
} */

.nav ul li.list-active button{
    color: var(--main-color);
}

.header__user--CV{
    margin-top: 16px;
    padding: 8px;
    border-radius: 8px;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    background-color: #29B340;
    box-shadow: 0px 2px 4px #0d3413;
}

.header__user--CV:active{
    animation: push-button-cv 0.05s linear;
}

@keyframes push-button-cv {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.95);
    }
}

.icon{
    position: relative;
    top: 2px;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    
}

body::-webkit-scrollbar{
    background-color: #393e3e;
}

body::-webkit-scrollbar-thumb{
    border-radius: 25px;
    border: 4px transparent solid;
    background-clip: content-box;
    background-color: var(--main-color);
}

section.main-start__container{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    background-image: url('https://res.cloudinary.com/dasfkbu3k/image/upload/v1636251614/Portfolio/pexels-kevin-ku-577585-small_ueivm2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.start__container{
    display: flex;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(1px);
}

.start__user--info{
    color: white;
    margin: auto;
    padding: 10px;
    font-size: 1.7rem;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff3d;
    backdrop-filter: blur(5px);
    animation: start-animation-user-name 2s ease, user-mame-float 2s 2s infinite ease-in-out alternate-reverse;
}

@keyframes start-animation-user-name {
    from{
        transform: translate(0px, 51vh);
    }
    to{
        transform: translate(0px, 0px);
    }
}

@keyframes  user-mame-float {
    from{
        transform: translate(0px, -50px);
    }
    to{
        transform: translate(0px, 0px);
    }
}

.spark-spam__container{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 5px;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: transparent;
}


section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px 0px;
}

.section__title{
    display: flex;
    align-self: start;
    align-items: center;
    font-size: 2rem;
    color: var(--main-color-down2);
}

.icon__arrow--right{
    color: var(--main-color);
}


.about__biography--list{
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
}

.about__biography--list li{
    display: inline-block;
    
}

.main-about__technology--container{
    width: 100%;
    overflow-x: scroll;
}

.about__technology--container{
    display: flex;
    width: max-content;
    padding-bottom: 10px;
}

.about__technology--title{
    text-align: center;
    margin-bottom: -20px;
    color: var(--main-color-down);
    border-bottom: 2px solid var(--main-color-down2);
}

.about__technology--container .about__technology--item{
    display: flex;
    width: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px #555;
    margin: 8px 16px;
    padding: 8px;
    border-radius: 8px;
}

.about__technology--container .about__technology--item figure{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about__technology--container .about__technology--item figure img{
    width: 75px;
    height: 75px;
}

.about__technology--container .about__technology--item figure .npm-logo{
    height: 50px;
}
.about__technology--container .about__technology--item figure figcaption{
    text-align: center;
}

.main-portfolio__container{
    justify-content: space-between;
    padding-bottom: 0;
}

.section__title--portfolio{
    margin-top: 12px;    
}

.main-portfolio__container .portfolio__proyects--container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    padding: 40px 10px;
    background: linear-gradient(0deg, var(--main-color-down), var(--main-color-down2));
}

.portfolio__proyects--item{
    position: relative;
    width: 300px;
    height: 250px;
    max-width: 500px;
    margin: 16px;
    
}

.proyect__image{
    display: inline-block;
    width: 100%;
    height: 85%;
    border: 4px solid #666;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.proyect__links--container{
    display: flex;
    justify-content: space-around;
    
}

.proyect__links--container a{
    text-decoration: none;
    font-size: 1.8rem;
    border: 2px solid white;
    padding: 10px;
    border-radius: 8px;
    color: white;
}

.proyect__image--batatabit{
    background-image: url('https://res.cloudinary.com/dasfkbu3k/image/upload/v1636495305/Portfolio/batatabit_zyvnxv.jpg');
    
}

.main-contact__container{
    height: 100vh;
}

footer{
    width: 100vw;
    height: 8vh;
    background-color: red;
}