* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
}

.main-header{
    position: fixed;
    display: flex;
    overflow: hidden;
    margin: 0.8rem;
    flex-direction: column;
    border-radius: 50%;
    background-color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
    transition: width 0.5s, height 0.35s, border-radius 0.5s, border-top-left-radius 0.9s, margin 0.5s;
    
}

.icon__menu-container{
    background: none;
    border: none;
    display: flex ;
    margin: 0.6rem;
    z-index: 2;
}
.icon__menu-toggle{
    color: white;
    display: contents;
}

.icon__menu-toggle ion-icon{
    font-size: 2.5rem;
}

.header-hidden{
    position: relative;
    top: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: collapse;
    transition: width 0.5s, height 0.35s;
}

.header-active{
    margin: 0;
    border-radius: 0;
    padding: 0;
    transition: border-radius 0.5s, border-top-left-radius 0.2s, margin 0.5s;
}

.header-visible{
    width: 100vw;
    height: 100vh;
    visibility: visible;
}

.header__user--photo{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #666;
    box-sizing: content-box;
    background-image: url(../assets/img/foto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__user--name{
    margin: 14px;
    font-size: 3rem;
    color: white;
}

.header__social--icons{
    display: flex;
    justify-content: center;
    margin: 10px 0 ;
    font-size: 3.3rem;
    list-style: none;
}

.header__social--icons li{
    margin: 0px 10px;
}

.header__social--icons li a{
    color: white;
}

.nav{
    height: 50%;
    position: initial;
    /* top: 20%;
    left: 32%; */
}

.nav-active{
    max-width: 154px;
    /* position: absolute; */
    /* width: 67%; */
}

.nav ul{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    height: 100%;
}
.nav ul li{
    padding: 5px;
    margin: 10px 0;
    width: 75vw;
    list-style: none;
    letter-spacing: 5px;
}

.nav ul li.list-active{
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.nav ul li button{
    text-decoration: none;
    color: white;
    background: none;
    border: none;
}

.nav ul li button span{
    font-size: 3rem;
}

.nav ul li.list-active button{
    color: var(--main-color);
}

.icon{
    position: relative;
    top: 2px;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.start{
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    
}

.about-container{
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    background-color: blue;
}

.portfolio-container{
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    background-color: orangered;
}

.contact-container{
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    background-color: red;
}